
/* unvisited link */
a:link {
  color: darkblue;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: darkblue;
}
/* mouse over link */
a:hover {
    color: maroon;
  }

/* selected link */
a:active {
  color: goldenrod;
}


header, main, footer {
    max-width: 700px;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 10px;
    
}

header {
    background-color:#3a9cab;
    border-radius: 10px;
    text-align: center;
    margin-top: 30px; 
    border-style: groove;
}

h1 {
    color: white;
    font-family: 'Acme', sans-serif;
}
h2 {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

img {
   width: 150px;
   height: auto;
   border-radius: 10px;
   box-shadow: 5px 5px 7px grey;
   float: right;

}

body{
    font-size: 16px;
}

footer {
    background-color:#3a9cab;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    color: white;
    border-style: ridge;
 
 }
