
* {
    box-sizing: border-box;
  }
  
  /* Need Help?:
        here is the link to the w3schools CSS Tutorial
        https://www.w3schools.com/css/default.asp */

 /* Set height of body and the document to 100% */
 body, html {
    height: 100%;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  /* Style the header */
  header {
    background-color: Navy;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  * {box-sizing: border-box}
  
  /* Style tab links */
  .tablink {
    background-color: #d3d3d3;
    color: navy;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Overview {background-color: darkblue;}
  #News {background-color: rgb(82, 82, 82);}
  #Career {background-color: darkblue;}
  #About {background-color: rgb(82, 82, 82);}

  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  
  th, tb {padding: 10px ;}  
  thead {background-color:green; color:white}
  tbody {color:blue;}
         table, th, td {
    border: 1px solid black;
  }
  
  
  thead{background-color: blue; color:black}
      
  table, th, td {
    border: black;}
      