
* {
    box-sizing: border-box;
  }
  
  /* Need Help?:
        here is the link to the w3schools CSS Tutorial
        https://www.w3schools.com/css/default.asp */

 /* Set height of body and the document to 100% */
 body, html {
    height: 100%;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /* Style the header */
  header {
    background-color: rgb(1, 1, 71);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 15%;
    height: 100%;
    background: rgb(1, 1, 71);
    padding: 20px;
    font-size: 15px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }

  * {box-sizing: border-box}
  
  /* Style tab links */
  .tablink {
    background-color: #d3d3d3;
    color: navy;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 20px;
    height: 100%;
  }
  
  #Overview {background-color: cadetblue;}
  #News {background-color: seagreen;}
  #Career {background-color: cadetblue;}
  #About {background-color: seagreen;}

  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    /* height: 300px; only for demonstration, should be removed */
  }
  
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }

  /* unvisited link */
a:link {
    color: cadetblue;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: seagreen;
  }
  /* mouse over link */
  a:hover {
    color: skyblue;
    }
  
  /* selected link */
  a:active {
    color: seagreen;
  }
  
  
  th, tb {padding: 10px ;}  
  thead {background-color:green; color:white}
  tbody {color:blue;}
         table, th, td {
    border: 1px solid black;
  }
  
  
  thead{background-color: blue; color:black}
      
  table, th, td {
    border: black;}
      